# .coveragerc - Coverage configuration for pytest-cov
[run]
source = logic,app_controller,lottery_service,core_services
omit = 
    */tests/*
    */test_*
    */__pycache__/*
    */ml_model_files/*
    */venv/*
    */env/*
    */site-packages/*
    setup.py
    conftest.py

[report]
# Show missing line numbers
show_missing = True
skip_covered = False

# Precision for percentages
precision = 2

# Exclude lines from coverage
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code
    def __repr__
    if self.debug
    if settings.DEBUG
    
    # Don't complain if tests don't hit defensive assertion code
    raise AssertionError
    raise NotImplementedError
    
    # Don't complain if non-runnable code isn't run
    if 0:
    if __name__ == .__main__.:
    
    # Don't complain about abstract methods
    @abstractmethod
    @abstractproperty
    
    # Don't complain about import fallbacks
    except ImportError:
        pass

[html]
directory = htmlcov

[xml]
output = coverage.xml




















