name: Python CI

on:
  push:
    branches:
      - main                  # <-- Chạy khi push lên nhánh main
      - Sua-loi-tu-9ba36d2  # <-- Chạy khi push lên nhánh này
  pull_request:
    branches:
      - main                  # <-- Vẫn chạy khi có pull request vào main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 .

      - name: Test with pytest
        run: |
          pip install pytest
          pytest
